@using ecom.Models
@model IEnumerable<CategoryModel>



    <div class="panel-group category-products" id="accordian">
        <!--category-productsr-->

        @foreach (var item in Model)
        {

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordian" href="/Eshopper/#womens">
                            <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                            @item.Name [@item.Count]
                        </a>
                    </h4>
                </div>
                <div id="womens" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul>
                            <li><a href="/Eshopper/#">Fendi</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        }

    </div><!--/category-products-->
