@using (@Html.BeginForm("Searching", "Home", FormMethod.Get, new { @class = "form-inline navbar-search" }))
{
    <input id="q" name="q" type="text" placeholder="Search">

    <button type="submit" id="submitButton" class="btn btn-flat">Ara</button>
}